BasedOnStyle: Microsoft

UseTab: ForIndentation
TabWidth: 4
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
PointerAlignment: Left

AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false


AlignArrayOfStructures: Right
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Right
AlignOperands: AlignAfterOperator
AlignTrailingComments: true

ColumnLimit: 80
